@import "settings";
@import "foundation";

table.calendar {
  width: 100%;
  tr {
    th {
      text-align: center;
    }
    td {
      height: 100px;
      text-align: center;
    }
  }
}

.available {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:green,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:5px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  transition: all 0.25s ease-in;
  &:hover {
    cursor: pointer;
    opacity: 0.65;
  }
}